@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard", sans-serif;
  line-height: 1.6;
  letter-spacing: -0.01em;
}

:root {
  --color-background: #ffffff;
  --color-primary: #000000;
}

.dark {
  --color-background: #000000;
  --color-primary: #ffffff;
}

@layer base {
  h1 {
    @apply text-6xl font-bold tracking-tight;
  }

  h2 {
    @apply text-5xl font-semibold tracking-tight;
  }

  h3 {
    @apply text-4xl font-semibold;
  }

  h4 {
    @apply text-3xl font-medium;
  }

  h5 {
    @apply text-2xl font-medium;
  }

  h6 {
    @apply text-xl font-medium;
  }

  p {
    @apply text-lg;
  }
}
