@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard", sans-serif;
  line-height: 1.6;
  letter-spacing: -0.01em;
}

:root {
  --color-background: #ffffff;
  --color-nav-background: #ffffff80;
  --color-primary: #000000;
  --color-nav-text: #333333;
  --color-nav-text-hover: #000000;

  --color-accent: #6366f1;
  --color-accent-strong: #4f46e5;
  --color-accent-soft: #a5b4fc;
  --color-accent-hover: linear-gradient(90deg, #6366f1, #8b5cf6);
}

.dark {
  --color-background: #000000;
  --color-nav-background: #00000080;
  --color-primary: #ffffff;
  --color-nav-text: #e4e4e4;
  --color-nav-text-hover: #ffffff;

  --color-accent: #6366f1;
  --color-accent-strong: #4f46e5;
  --color-accent-soft: #a5b4fc;
  --color-accent-hover: linear-gradient(90deg, #6366f1, #8b5cf6);
}
